<div class="container patient-detail-component">
  <h3 class="text-center">{{id ? 'Editare' : 'Adaugare'}} pacient</h3>
  <form *ngIf="patient" class="noprint" novalidate #form="ngForm" (ngSubmit)="previewReceipt()">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>CNP</label>
        <input type="text" class="form-control" name="CNP" [(ngModel)]="patient.CNP" required minlength="13" maxlength="13"
          (change)="cnpChanged()" [disabled]="!isEditable" />
        <app-validation [entity]="patient" property="CNP"></app-validation>
      </div>
      <div class="form-group col-md-5">
          <label>Nume:</label>
          <input type="text" class="form-control" name="LastName" [(ngModel)]="patient.LastName" required minlength="2" [disabled]="!isEditable"
          />
          <app-validation [entity]="patient" property="LastName"></app-validation>
        </div>
      <div class="form-group col-md-5">
        <label>Prenume:</label>
        <input type="text" class="form-control" name="FirstName" [(ngModel)]="patient.FirstName" required minlength="2" [disabled]="!isEditable"
        />
        <app-validation [entity]="patient" property="FirstName"></app-validation>
      </div>      
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Data nasterii:</label>
        <input type="text" class="form-control" name="BirthDate" [value]="patient.BirthDate | date:'dd/MM/yyyy'" disabled
          />        
      </div>
      <div class="form-group col-md-1">
        <label>Varsta (ani)</label>
        <input class="form-control" [value]="patient.Age" disabled />
      </div>
      <div class="form-group col-md-1">
        <label>Sex</label>
        <select class="form-control" name="Gender" [value]="patient.Gender" disabled>
          <option value="1">F</option>
          <option value="0">M</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Inaltime (cm)</label>
        <input type="number" class="form-control" name="Height" [(ngModel)]="patient.Height" required min="60" max="260"
        />
        <app-validation [entity]="patient" property="Height"></app-validation>
      </div>
      <div class="form-group col-md-2">
        <label>Greutate (kg)</label>
        <input type="number" class="form-control" name="Weight" [(ngModel)]="patient.Weight" required min="20" max="500"
        />
        <app-validation [entity]="patient" property="Weight"></app-validation>
      </div>
      <div class="form-group col-md-2">
        <label>Suprafata (m2)</label>
        <input type="text" class="form-control" [value]="patient.BodySurfaceArea.toFixed(2)" disabled />
      </div>
    </div>

    <button type="button" class="btn" [routerLink]="['/patient']">Inapoi</button>
    <button type="button" class="btn btn-primary" [disabled]="!patient.$valid() || !form.dirty" (click)="addOrUpdate()">Salveaza</button>    
  </form>

  <div class="diagnostics-container" *ngIf="patient">
    <app-diagnostic (onInitialized)="onDiagnosticsInitialized($event)"></app-diagnostic>
  </div>
</div>

