<div class="container treatment-component">
    <div class="row m-3">
        <div class="col-md-4">Filtrare dupa oricare din campurile din tabela:</div>
        <div class="col-md-2">
            <input type="text" [(ngModel)]='quickFilterText' class="filter-input" name="quickFilter" [disabled]="!gridReady" />
        </div>
    </div>
    <div class="m-3">
        <ag-grid-angular #agGrid class="ag-fresh treatments-grid" [gridOptions]="gridOptions">
        </ag-grid-angular>
    </div>
    <div class="row m-3">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" [routerLink]="['/treatment', '']">Adauga tratament</button>
        </div>
    </div>    
</div>