.patient-component {
    padding: 20px;

    .pacients-grid {
        width: 97%;
        height: 600px;

        .is-viewer-cell {
            position: relative;

            .centered-input{
                position: absolute;            
                left: 50%;
            }
        }

        /*.ag-paging-page-summary-panel {
            button {
                background-image: url(/src/favicon.ico);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                // put the height and width of your image here
                height: 50px;
                width: 200px;
                border: none;
            }
            
        }*/
    }    

    .filter-input {
        width:100%;
    }     
}