<div class="container treatment-item-component">
  <form *ngIf="treatmentItem" class="noprint" novalidate #form="ngForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Medicament:</label>
        <select class="form-control" name="Medicament" [(ngModel)]="treatmentItem.MedicamentId" required>
          <option *ngFor="let item of medicaments" [value]="item.Id">{{item.Name}}</option>
        </select>
        <app-validation [entity]="treatmentItem" property="Medicament"></app-validation>
      </div>
      <div class="form-group col-md-4">
        <label>In ziua:</label>
        <input type="number" class="form-control" name="OnDay" [(ngModel)]="treatmentItem.OnDay" required 
         />
         <app-validation [entity]="treatmentItem" property="OnDay"></app-validation>
      </div>
    </div>

    <button type="button" class="btn" [routerLink]="['/treatment', treatmentId]">Inapoi</button>
    <button type="button" class="btn btn-primary" [disabled]="formSubmitted || form.invalid || !form.dirty" (click)="addOrUpdate(form)">Salveaza</button>
  </form>
</div>