.read-only {
    background-color: #e9ecef;
    opacity: 1;
}

.treatment-rows {
    .header-row {
        position: relative;
        height: 24*3px; 

        .label-row {
            position: absolute;
            bottom: 0;   
        }
    }

    input[type=number] {
        padding: 6px;
        text-align: right;
    }
}