<div class="container cycle-item-component">
  <form *ngIf="formLoaded" novalidate #form="ngForm">
    <div *ngIf="cycle" class="form-row">
      <div class="form-group col-md-6">
        <label>Treatment:</label>
        <select class="form-control" name="Treatment" #Treatment="ngModel" [(ngModel)]="cycle.Treatment" required (change)="change()">
          <option *ngFor="let item of treatments" [value]="item">{{item.Name}}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Data inceput tratament:</label>
        <input type="date" class="form-control" name="StartDate" [ngModel]="cycle.StartDate|date:'yyyy-MM-dd'" 
          (ngModelChange)="cycle.StartDate=$event" required />
          <app-validation [entity]="cycle" property="StartDate"></app-validation>
      </div>
      <div class="form-group col-md-2">
          <label>Serum creat:</label>
          <input type="number" class="form-control" name="SerumCreat" [(ngModel)]="cycle.SerumCreat" [disabled]="!(cycle && cycle.isSerumCreatNeeded)" />   
          <app-validation [entity]="cycle" property="SerumCreat"></app-validation>      
        </div>
      <div class="form-group col-md-2">
        <label>Aplica:</label>
        <button type="button" class="form-control btn btn-primary" [disabled]="!(cycle && cycle.$valid())" (click)="applyTreatment()">Aplica tratament</button>
      </div>
    </div>

    <div class="form-row">
      <button type="button" class="btn m-3" [routerLink]="['/patient', patientId, 'diagnostic', diagnosticId]">Inapoi</button>
      <button type="button" class="btn btn-primary m-3" [disabled]="!valid" (click)="saveCycleGraph()">Salveaza</button>
    </div>

    <div *ngIf="cycle?.CycleItems">
      <div class="form-row" *ngFor="let cycleItem of cycle.CycleItems; let index = index">
        <div class="form-group col-md-2">
          <label>In ziua:</label>
          <input type="number" class="form-control" name="OnDay-{{index}}" [(ngModel)]="cycleItem.OnDay" required />          
          <app-validation [entity]="cycleItem" property="OnDay"></app-validation>
        </div>        
        <div class="form-group col-md-4">
          <label>Medicament</label>
          <input type="text" class="form-control" name="Medicament-{{index}}" [value]="cycleItem.Medicament.Name" disabled />
        </div>
        <div class="form-group col-md-2">
          <label>Cantitate calculata</label>
          <input type="number" class="form-control" name="QuantityCalculated-{{index}}" [value]="cycleItem.QuantityCalculated" disabled
          />
        </div>
        <div class="form-group col-md-2">
          <label>Cantitate aplicata</label>
          <input type="number" class="form-control" name="QuantityCalculated-{{index}}" #QuantityCalculated="ngModel" [(ngModel)]="cycleItem.QuantityApplied" required
          />
        </div>
        <div class="form-group col-md-1">
          <label>Actiune</label>
          <button type="button" class="btn btn-link" (click)="removeItem(index)">Sterge</button>
        </div>
      </div>
    </div>    
  </form>
</div>