<div class="container treatment-detail-component">
  <form *ngIf="treatment" class="noprint" novalidate #form="ngForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Descriere:</label>
        <input type="text" class="form-control" name="Name" #Name="ngModel" [(ngModel)]="treatment.Name" required minlength="2" maxlength="200"
        />
        <app-validation [entity]="treatment" property="Name"></app-validation>
      </div>
      <div class="form-group col-md-2">
        <label>Necesita serum creat:</label>
        <input type="checkbox" class="form-control" name="IsSerumCreatNeeded" [(ngModel)]="treatment.IsSerumCreatNeeded" />
      </div>
    </div>

    <div class="form-row m-1">
      <div class="form-group">
        <button type="button" class="btn" [routerLink]="['/treatment']">Inapoi</button>
        <button type="button" class="btn btn-primary" [disabled]="!(treatment.$valid() && form.dirty)" (click)="addOrUpdate(form)">Salveaza</button>
      </div>
    </div>

  </form>
  <div class="m-1">
    <ag-grid-angular #agGrid class="ag-fresh treatment-items-grid" [gridOptions]="gridOptions">
    </ag-grid-angular>
    <button type="button" class="btn btn-primary" [routerLink]="['/treatment', treatmentId, 'item', '']" [disabled]="!(treatment && treatment.Id && treatment.$valid())">Adauga</button>
  </div>
</div>