<div class="receipt-pdf-component">
  <div class="receipt-page">
    <div class="receipt-row">
      <div class="receipt-label">Nume</div>
      <div class="receipt-text">{{patient.firstName}}</div>
      <div class="receipt-label">Nume</div>
      <div class="receipt-text">{{patient.firstName}}</div>
    </div>
    <div class="receipt-row">
      <div class="receipt-label">Nume</div>
      <div class="receipt-text">{{patient.firstName}}</div>
      <div class="receipt-label">Nume</div>
      <div class="receipt-text">{{patient.firstName}}</div>
    </div>

  </div>