$page-width: 210mm;
$page-height: 297mm;
$margin: 10mm;

@media screen, print {
    .receipt-pdf-component {
        width: $page-width;        
        height: $page-height;
        border: 1px solid black;
        font-size: 3mm;

        .receipt-page {
            margin: $margin;
            width: $page-width - 2 * $margin;  
            height: $page-height - 2 * $margin;          
            border: 1px solid red;
        }

        .receipt-row {
            height: 5mm;
        }        

        .receipt-label {
            float: left;
            width: 20mm;
            text-align: right;    
            border: 1px solid blue;       
        }

        .receipt-text {
            float: left;
            width: 60mm;
            border: 1px solid blue;  
        }
    }

}