/* You can add global styles to this file, and also import other style files */

@media print
{
    .noprint {
        display: none !important;        
    }    

    @page { margin: 0; }
}

@media screen {
    .print-only {
        display: none !important;
    }
}