/* You can add global styles to this file, and also import other style files */

@media print
{
    .noprint {
        display: none !important;        
    }    

    @page { margin: 20; }

    .page-break-before {
        page-break-before: always;
    }
}

@media screen {
    .print-only {
        display: none !important;
    }
}

.break-word {
    word-wrap: break-word;     
}